<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body style="background-color:#DCFFDC">
    <h1 align="center" style="margin-top:5%">Welcom To QuizWorld!</h1>
    <div align="center" style="margin-top:13%">
    <button class="btn btn-primary" type="button" style="WIDTH: 300pt; HEIGHT: 200pt; margin-right:10%"
        onclick="location.href='{% url 'Quiz:questions' %}'">퀴즈 새롭게 작성하기</button>
    <button class="btn btn-primary" type="button" style="WIDTH: 300pt; HEIGHT: 200pt"
        onclick="location.href='{% url 'Quiz:solve' %}'">퀴즈 풀기</button>
    </div>
</body>
</html>