<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>퀴즈를 풀어보자!</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body style="background-color:#DCFFDC">
    <div align="center">
    {% if Quiz_list %}
    <ol>
        {% for s in Quiz_list %}
        <li>
            <a href="#none">{{s.quiz_question}}</a></br>
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <p style="margin-top:15%; font-size:35px;">퀴즈가 없습니다 o(╥﹏╥)o</p><br>
    <button class="btn btn-primary" type="button" style="WIDTH: 300pt; HEIGHT: 100pt"
        onclick="location.href='{% url 'Quiz:questions' %}'">퀴즈 문제 만들러 가기</button>
    {% endif %}
    </br>
    </div>
</body>
</html>