<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
    <h1>SignUp</h1>

    <form action="{%url 'Account:signup'%}" method="post">
        {% csrf_token %}
        <input name="username" type="text" class="id" placeholder="ID">
        <br>
        <input name="password1" type="password" class="pw" placeholder="PW">
        <br>
        <input name="password2" type="password" class="pw" placeholder="Agin PW">
        <br>
        <input type="submit" class="btn btn-primary" value="SignUp">
    </form>
</body>
</html>